header {
	height: 60px;
	width: 100%;
	background-color: lightgrey;
	position: fixed;
	top: 0;
	left: 0;
	color: black;
	text-decoration:none;
	font-size: 22px;
}

body {
	font-family: Arial;
	font-size: 20px;
}

div {	
 	margin-top: 40px;
 	margin-left: 80px;
 }

button {	
	display: inline-block;
	border: 1px solid lightgrey;
	margin-bottom: 60px;
	color: black;
}

a {
	color: black;
	text-decoration:none;
}

li {
	list-style-type:none;
	display: inline;
	margin-right: 20px;
}

input {
	margin-left: 40px;
}
 

.leftnav {
	float: left;
}

.rightnav a {
	float: right;
	padding-right: 30px;
	color: purple;
}

.pages li {
	border:1px solid lightgrey;
	padding: 10px;
	margin-right: 0;
	font-size: 18px;
	border-radius: 4px;
 }

.listdate {
	color: grey;
	font-size: 18px;
}

.listjob {
	color: blue;
	font-weight: bold;
	font-size: 18px;
}

.listlocation {
	color:grey;
	font-size: 18px;
}




